header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  color: #fff;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}

.container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__paragraph {
    margin-left: 9px;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;

    li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &__search {
    border: solid 2px #fff;
    border-radius: 20px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  input {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container__search {
    display: none !important;
  }

  ul {
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }

  ul li {
    margin-right: 0;
  }
}
